body {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
  
}

/* Header */


.navbar {
  margin-bottom: 25px;
}
.navbar-brand {
  font-size: 1.5em;  
  
  
}

.navbar-header a, .navbar-header a:visited  {
  color: #007300;
}


hr {
  padding: 0px;
  margin: 5px;
}


/* End Header */

/* Content */


h2 {https://www.linkedin.com/csp/cat?v=1&action=click&trk=0_1Ny00ZkFz4rHcIMmAAxoZ8KBvHfByCrOO0_weaBptslBhtndgcF-_lqWkdHJZgsjpMzoOs5UEY6_1jdY8yvdr8-HTK1eNLfwwiEn-2Z0d1L6Ij3x2s6fADIK7Nmy5umFApweDqBAFiyCUuy-nb2vRz4YvGNErVVqYBEIG7fM7Z8mAP0wsx3D-ulU2kuZCIEO7M1rbu7OH9eT9ZDUtxOcHxEkqKkeggkik1EVtHtWdm_VvW2bi8DSgmDe4agTFfhecexnZ6PKXEeiatylMu3W3Q9BU0LRWG5yHQmyp29yXxKczwRpZgiDESPP1ryHlYAFwMFE21YZGxRJNNwmJQliebetWHQq-UtKLnK62Xd36wbKZ2-zqhEVzGAkBWO2emsj0oswf2oQuwf73jnoXoJIqNNp-xmjprr3UX0L-_aQeRUudDNF0_CMQxO6h0jHKvneW0HNee9V158LfqLErq-6uBZQK-5vgdX1tcKFQljPRkhM4I3tSvZ15DKvI9WZQzkH73RBnA-IRPOG2URUrifNfeGqBKifsiicEIw1Gs_Bd0YJlOAqCzoC8xbomIBuWFsELsutL0ZQXlfRDcUskk_L2HcJGLtukRBtjR8djIvarVx_27cIEmOTTzIq7e2Nc4PLRW6mtHxomq2UmOwd2ywVau3iBco3xbQHnE4G-5fKmZgaaCJgG7ycTDMqU1TpRmqla3Rs6HSTPaphCui8NQu7ODgmpDasHC9FWSIR7LOtsjeCiQWLa_2V4igJ077dfUmgtTqrTL0BLXnQ8pRv95_LmacWKxGx2QAvrkGh-LcXwUjMKttVD0EgnOZWAlv7BP-QEpplX7UR2hu1brojtcxdI_7vN5qaxaMsiMX9fQxojp0ZchTmH3YgeSnE0wx85LTpTJXgzJxwFNqEBo8XxsHr-pJYPjE_vRvVhlK_2MUA3cWJPIqCJOwcfIDvVqURjfe-NbX5Mf1lpCnlqfKPVgX360i0lLo3QRpMCLv7OLK9xeo2-ENGHdMcTqIhvyyARqnUs3HSIJJgOZTeL1waEwEQU4XV_TtfZ8Lyrp8BJeoLTlkYV3INJ16Tu1aVYP6lkgbJEKtJ8P0lv1vR8QDj_B0hSnenuWz2PhBvezkjTshC-iY9JDcVENEeenCH3OBHnhDEjvwVz2fsnOeSqAgiMzt75_LMnx2Pkb5itWK-bgSxkI7sUVXRHqY_JPTX0n1fsSiNVHUgIuS2Y-rNmTDvTBzy2aBq0opm_swhq7nyZYPiBZwBwoNg1jSiV27p1fj9K__pPRuBwjBaOr4r99EApXzRzHvTzkF0bcQdu7H0k23mxA7LA-Fd22mrXqtxOOUBh9aMFRNoPyGpXRRmJVntl_nKdh
  font-size: 1.4em;
 }

h3 {
  font-size: 1.3em;
}


#textpara {  

  margin: 20px;
  


}


#textpara a {    
  color: #730073;
}

#textpara a:visited {
  color: #730073;;
}

#textpara a:hover, #textpara a:focus  {
  color: #007300;
  text-decoration: none;
}


/* End Content */