	
body {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
  background-color: #c0c0c0;
  color: #3d334c;
}

#blog-main {
  background-color: white;
}

/* Header */
 #page_title {  
  margin: 100px 0px 25px 70px;
  text-transform: uppercase;
  letter-spacing: 2.9px;
  
 }

 #page_title a, #page_title a:visited {
  color: #3d334c;
 }

 #page_title a:hover, #page_title a:focus {
  text-decoration: none; 
  color: #9febab;
 }


#main-list {
  
  padding: 0px;
  margin: 0px 0px 0px 70px;
}
#main-list li {
  list-style-type: none;
  text-transform: uppercase;
  margin=left: 0px;
  
  font-size: 2.5em;
  letter-spacing: 3.0px;
  
}

#main-list li span {
  font-size: 0.15em;
}


#main-list a, #main-list a:visited {
  color: #3d334c;
}

#main-list a:hover, #main-list a:focus {
  color: #9febab;
  text-decoration: none;
}

hr {
  padding: 0px;
  margin: 5px;
}

h2 {
  font-size: 1.4em;
 }

h3 {
  font-size: 1.3em;
}


#textpara {  
  margin: 20px;
}


#textpara a {    
  color: #730073;
}

#textpara a:visited {
  color: #730073;;
}

#textpara a:hover, #textpara a:focus  {
  color: #007300;
  text-decoration: none;
}

/* Blog Main Page */
.navbar {
	background-color: #c0c0c0;
	border-radius: 0px;
}

.navbar-default .navbar-brand, #nb-list a, #nb-list a:visited {
	color: #3d334c;
	text-transform: uppercase; 
	letter-spacing: 1.2px;
}

#nh a:hover, #nh a:focus, #nb-list a:hover {
	color: #424c33;
	text-transform: uppercase; 
}

#line {
	border-top: 1px solid #c0c0c0;
	opacity: 0.54;
}

.navbar-default .navbar-toggle .icon-bar {
	border-color: #3d334c;
}

.navbar-default .navbar-toggle {
	border-color: #3d334c;
}


#page-title {
	text-transform: uppercase;
	letter-spacing: 1.2px;
}
.bl-list {
	list-style-type: none;
	padding: 0px;
	margin-bottom: 150px;
}

.bl-list li {
	font-size: 1.2em;
	padding: 10px;
	text-transform: uppercase;
	letter-spacing: 0.5px;

}

.bl-list li span {
	font-size: 0.8em;
	padding-right: 3px;
}

.bl-list li a, .bl-list li a:visited {
	color: #3d334c;
} 

.bl-list li a:hover, .bl-list li a:focus {
	text-decoration: none; 
  	color: #424c33;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #c0c0c0;
}

.footer ul {
	
	list-style-type: none;

}

#footerStuff {
	margin: 0px;
	padding: 15px;
	text-transform: uppercase;
	letter-spacing: 1.2px;
}

#footerStuff div > div > a:visited, #footerStuff div > div > a {
	color: #3d334c;
	opacity: 0.7;
}

#footerStuff div > div > a:hover, #footerStuff div > div > a:focus {
	color: #424c33;
	text-decoration: none;
}

#footerStuff div > div{
	padding-top: 10px;

}

.footerlist {
	margin-left: 100px;
}





@media only screen and (max-width: 768px) {
    #page_title {  
      margin: 100px 0px 25px 40px;
  }

#main-list {  
    margin: 0px 0px 0px 40px;
  }
}
