	
body {
  font-size: 12.5px;
  font-family: American Typewriter, serif;  
}


#post-list {
  padding-top: 2em;
  list-style-type: none;
}

#post-list li {
  margin-top: 2em;
}

.nav-list {
  margin-top: 2em; 
  padding: 0px;
}

.nav-list li {
    display: inline;
}

.content {
  padding-bottom: 20em;
}

#blog-main {  
  background-color: white;  
}

#blog-main p, #blog-main li {  
  font-size: 18.5px;
  line-height: 1.5;
}

/* Header */
 #page_title {  
  margin: 75px 75px 75px 75px;
  letter-spacing: 2.9px;
  padding-top: 20px;
  
 }

 #page_title a, #page_title a:visited {
  color: #3d334c;
 }

 #page_title a:hover, #page_title a:focus {
  text-decoration: none; 
  color: #9febab;
 }


#main-list {
  padding: 0px;
  margin: 0px 0px 0px 70px;
}
#main-list li {
  list-style-type: none;
  margin=left: 0px;
  
  font-size: 1.2em;
  letter-spacing: 3.0px;
  
}

#main-list li span {
  font-size: 0.15em;
}


#main-list a, #main-list a:visited {
  color: #3d334c;
}

#main-list a:hover, #main-list a:focus {
  color: #9febab;
  text-decoration: none;
}

hr {
  padding: 0px;
  margin: 5px;
}

h1 {  
  font-size: 1.5em;  
  color: #C34F4A;
 }

h2 {
  font-size: 1.4em;
  color: #2FAECE;
 }

h3 {
  font-size: 1.3em;
  color: #0F2537;
}

h4 {
  
  color: #3782C4;
}

#textpara {  
  margin: 20px;
}


#textpara a {    
  color: #730073;
}

#textpara a:visited {
  color: #730073;;
}

#textpara a:hover, #textpara a:focus  {
  color: #007300;
  text-decoration: none;
}

/* Blog Main Page */
.navbar {
	background-color: #c0c0c0;
	border-radius: 0px;
	margin-bottom: 0px;
}

.navbar-default .navbar-brand, #nb-list a, #nb-list a:visited {
	color: #3d334c;
	text-transform: uppercase; 
	letter-spacing: 1.2px;
}

#nh a:hover, #nh a:focus, #nb-list a:hover {
	color: #424c33;
	text-transform: uppercase; 
}

#line {
	border-top: 1px solid #c0c0c0;
	opacity: 0.54;
}

.navbar-default .navbar-toggle .icon-bar {
	border-color: #3d334c;
}

.navbar-default .navbar-toggle {
	border-color: #3d334c;
}



.bl-list {
	list-style-type: none;
	padding: 0px;
	margin-bottom: 150px;
}

.bl-list li {
	font-size: 1.2em;
	padding: 10px;
	text-transform: uppercase;
	letter-spacing: 0.5px;

}

.bl-list li span {
	font-size: 0.8em;
	padding-right: 3px;
}

.bl-list li a, .bl-list li a:visited {
	color: #3d334c;
} 

.bl-list li a:hover, .bl-list li a:focus {
	text-decoration: none; 
  	color: #424c33;
}


@media only screen and (max-width: 768px) {
    #page_title {  
      margin: 100px 0px 25px 40px;
  }

#main-list {  
    margin: 0px 0px 0px 40px;
  }
}



/* posts layout */

img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

#fullpost {
  margin-bottom: 100px;
}

.blog-post p, blog-post ul {
	font-family: 'Lora', serif;
	line-height: 1.5;
}
.blog-post {  
  margin-bottom: 60px;	
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 30px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}
