body {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
  background-color: #3d334c;
  color: white;
  
}

/* Header */
 #page_title {  
  margin: 100px 0px 25px 70px;
  text-transform: uppercase;
  letter-spacing: 2.9px;
  
 }

 #page_title a, #page_title a:visited {
  color: white;
 }

 #page_title a:hover, #page_title a:focus {
  text-decoration: none; 
  color: #9febab;
 }


#main-list {
  
  padding: 0px;
  margin: 0px 0px 0px 70px;
}
#main-list li {
  list-style-type: none;
  text-transform: uppercase;
  margin=left: 0px;
  
  font-size: 2.5em;
  letter-spacing: 3.0px;
  
}

#main-list li span {
  font-size: 0.15em;
}


#main-list a, #main-list a:visited {
  color: white;
}

#main-list a:hover, #main-list a:focus {
  color: #9febab;
  text-decoration: none;
}
.navbar {
  margin-bottom: 25px;
}
.navbar-brand {
  font-size: 1.5em;  
  
  
}

.navbar-header a, .navbar-header a:visited  {
  color: #007300;
}


hr {
  padding: 0px;
  margin: 5px;
}


/* End Header */

/* Content */


h2 {
  font-size: 1.4em;
 }

h3 {
  font-size: 1.3em;
}


#textpara {  

  margin: 20px;
  


}


#textpara a {    
  color: #730073;
}

#textpara a:visited {
  color: #730073;;
}

#textpara a:hover, #textpara a:focus  {
  color: #007300;
  text-decoration: none;
}


/* End Content */

@media only screen and (max-width: 768px) {
    #page_title {  
      margin: 100px 0px 25px 40px;
  }

#main-list {  
    margin: 0px 0px 0px 40px;
  }
}
