<div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-2"></div>
        <div class="col-md-6 col-sm-8 col-xs-12">

            <ul class="nav-list">
              <li class="nav-list-item text-center"><h3><a href="https://nadinesk.github.io/">Nadine Khattak Fischoff</a></h3></li>
            <!--  <li class="nav-list-item"><a href="#">Blog</a></li>
              <li class="nav-list-item"><a href="#">Github</a></li>
              <li class="nav-list-item"><a href="#">Contact</a></li> -->
            </ul>
        </div>
        <div class="col-md-3 col-sm-2"></div>
      </div>
    </div>
 <hr>
