.top-row {
	font-family: 'Roboto', sans-serif;
	height: 60%;
	background: linear-gradient(30deg, #FF9669, #8DDBD1);
}

.top-row h1, .top-row h2, .top-row h3 {
	font-weight: 100;
	color: white;
	text-rendering: optimizeLegibility;
	text-align: center;
}

.name-header {
	padding-top: 105px;
	font-size: 40px;
	transition: font-size 2ms linear
}

.second-row {
	background-color: white;
	padding: 40px;
	border-bottom: 1px solid #e1e8ed;
	opacity: 0.5px;
}

.learns-makes {
	opacity: 0.5;
	color: white;
	font-size: 24px;
	text-align: center;
}

#learnmake-para a {
	color: white;
	text-decoration: none;
	transition: all 0.5s linear;
}

#learnmake-para a:hover {
    background-color: white;
    padding: 0 10px;
    color: #FF9669;
}


.learnmake-para a:visited {
	text-decoration: none;
	color: white;
}

.skills-row {
	background: linear-gradient(45deg, #C7BFD4, #fff);
	height: 100%;
}

.skill-headline {
	display: block;
	color: #667585;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	text-rendering: optimizeLegibility;
	text-align: center;
	
	vertical-align: middle;
	
	padding-left: 50px;


}

.skills-hl h2 {
	margin: 0px;
	padding-top: 25%;
}



.thelistskill li {
	display: inline-block;
	list-style-type: none;
	height: 150px;
	width: 150px;
	text-align: center;
	border-radius: 50%;	
	margin: 5px;
	vertical-align: middle;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 70px;
	
	color: white;
	background: #C7BFD4;
}

.thelistskill div {
	display: inline-block;

}

#learnmake-para a {
	color: white;
	text-decoration: none;
	transition: all 0.5s linear;
}

#learnmake-para a:hover {
    background-color: white;
    padding: 0 10px;
    color: #FF9669;
}


#showjavadiv, #show-cplus-div {
	display: none;


}

.container {
    width:100px;
    height:100px;
    overflow:hidden;
    display:block;
}
.container div {
    display:inline-block;
    position:relative;
    float:left;
}