body {
	margin: 0px;
	padding: 0px;
}

.photo-header {
	min-height: 220px;
    
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	background: rgba(158, 222, 255, 0.8);
	padding: 40px;
	
}
.wrapping {
	

}



.name-title {
	display: none;
	float: left;
	width: 200px;
	height: 200px;
	border: 1px solid #e8e8e8;
	border-radius: 50%;
	vertical-align: middle;
	text-align: center;
	background: linear-gradient(30deg, #FF9669, #8DDBD1); 
	color: white;
	font-size: 18px;
	margin: 10px;
}

.name-title h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.photo-title {
	display: none;
	float: left;
	width: 150px;
	height: 150px;
	vertical-align: middle;
	text-align: center;
	border: 1px solid #e8e8e8;
	border-radius: 50%;
	background: linear-gradient(30deg, #FF9669, #8DDBD1); 
	color: white;
	margin: 35px 15px;
}


.photo-title h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 24px;
	padding: 25px;
}

.menu-title {
	display: none;
	float: left;
	width: 50px;
	height: 50px;
	border: 1px solid #e8e8e8;
	border-radius: 50%;
	vertical-align: middle;
	text-align: center;
	background: linear-gradient(30deg, #FF9669, #8DDBD1); 
	color: white;
	font-family: 'Roboto', sans-serif;
	margin: 110px 30px 0px;
}


.menu-title h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 14px;
}

.nav-menu {
	display: none;
	padding: 10px;
}

.nav-menu ul {
	list-style-type: none;
	text-decoration: none;
	padding-left: 20px;
}

.nav-menu li {
	display: inline-block;
	padding-left: 20px;
	margin-top: 100px;
	
}

.nav-menu li a {
	text-decoration: none;
	color: brown;
}

.nav-men li a:first-child {
	padding-top: 30px;
}

.water-circle {
	fill: white;
}

.bubbles, .left-bubbles {
	float: left;
	width: 25px;
	height: 25px;
	border: 1px solid #e8e8e8;
	border-radius: 50%;
	background: linear-gradient(30deg, #FF9669, #8DDBD1); 
	margin: 20px;
}

.wrapping-photo {
	width: 100%;
	position: relative;
	text-align: center;
}


img {
	
	border-radius: 8px;
}


