
body {
    background: #BDEC8E;
    color: black;
    margin: 0px;   
    padding: 0px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;

}

.container {
    margin: 50px 100px;   
    padding: 0px;
}

#active-month {
    opacity: 3;
    font-size: 22px;

}
.month-range-links {
    -moz-animation-duration: 3s;    
    -webkit-animation-duration: 3s;
    -moz-animation-name: slidemonths; 
    -webkit-animation-name: slidemonths;
}
.month-range-links ul {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    
    text-align: center;    
}

.active-months {
    opacity: 1;
    color: blue;
}
.month-range-links ul li {
    text-decoration: none;
    display: inline-block;    
    padding-right: 5px;
    
}



.month-range-links ul li a {
    text-decoration: none;
    color: #000;
    opacity: 0.35;
    transition: opacity 1s, font-size 0.5s;
}

.month-range-links ul li a:visited {
    color: #000;

}

.month-range-links ul li a:hover {
    opacity: 1;
    font-size: 22px;
    
}



@-webkit-keyframes slidemonths {
    0% {
        filter: alpha(Opacity=0);
        opacity: 0;
        
    }
    100% {
        filter: alpha(enabled=false);
        opacity: 1;
        
    }
}
@keyframes slidemonths {
    0% {
        filter: alpha(Opacity=0);
        opacity: 0;
        
    }
    100% {
        filter: alpha(enabled=false);
        opacity: 1;
        
    }
}

.menu-items a {
    text-decoration: none;
    color: black;
    transition: background-color 0.5s ease, padding 0.5s ease;
}


.menu-items a:visited {
    color: black;
}

.menu-items a:hover {
    border-radius: 5px;
    background-color: rgba(0,0,0,0.3);
    padding: 3px;
}

.menu-full {
    position:absolute;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    top: 0px;
    left: 10px;
}


.menu-svg {
    padding-top: 20px;
    
    
}

.menu-list {
   background-color: rgba(255,255,255,0.3);
   float:left;
   padding: 10px;
   border-radius: 5px;
   display: none;
}

.menu-items {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.menu-items li {
    
    padding-right: 5px;
}


li:nth-child(2), li:nth-child(3),li:nth-child(4) {
    padding-top: 5px;
}




.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

header {
    margin: 0px;   
    padding: 0px;
    -moz-animation-duration: 3s;    
    -webkit-animation-duration: 3s;
    -moz-animation-name: slideheader; 
    -webkit-animation-name: slideheader;
    overflow: hidden;
    
    
    
    
}

@-webkit-keyframes slideheader {
    0% {
        filter: alpha(Opacity=0);
        opacity: 0;
        -moz-transform: translate(0, 50px);
        -ms-transform: translate(0, 50px);
        -webkit-transform: translate(0, 50px);
        transform: translate(0, 50px)
    }
    100% {
        filter: alpha(enabled=false);
        opacity: 1;
        -moz-transform: none;
        -ms-transform: none;
        -webkit-transform: none;
        transform: none
    }
}
@keyframes slideheader {
    0% {
        filter: alpha(Opacity=0);
        opacity: 0;
        -moz-transform: translate(0, 50px);
        -ms-transform: translate(0, 50px);
        -webkit-transform: translate(0, 50px);
        transform: translate(0, 50px)
    }
    100% {
        filter: alpha(enabled=false);
        opacity: 1;
        -moz-transform: none;
        -ms-transform: none;
        -webkit-transform: none;
        transform: none
    }
}
.main-header {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
    font-size: 48px;
    float: left;
}

.main-header h1 {
    margin: 50px 0px 0px 0px;
    letter-spacing: 2px;
}

.main-header a {
    text-decoration: none;
    color: black;
    transition: color ease 1s;
}

.main-header a:visited {
    text-decoration: none;
    color: black;   
}

.main-header a:hover {
    color: white;
}
.main-header p {
    display: block;
    
}

/* add clearfix to header div because of floating elements*/ 
.second-header-one {
	transition: all 1s;
	overflow: hidden;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
    text-align: right;
    font-size: 38px;
    padding: 80px 0px;
    float: right;
    letter-spacing: 2px;
}

.main-header, .second-header-one {
    margin-top: 30px;
}

.first-show-text {
	display: block;
}

.second-show-text {
	display: none;
}



.dates-text {
	background-color:rgba(244,255,255,0.2);
	padding: 20% 0%;
	display: none;
	color: #BDEC8E;
	z-index: 1;
    letter-spacing: 2px
    font-weight: 600;
}





.month-text {
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 80px;    
}

.day-year-text {
        margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;    
}

.month-phone {
    display: none;
    
    text-align: center;
}

@-webkit-keyframes slidein {
		from {

			margin-top: 100%;
		        width:100%;
      		}
      		
		90% {
		
		}
      		
		to {
			
			margin-top: 0%;
			width:100%;

			
      		}
    	}

@-webkit-keyframes slidetext {
		from {

			margin-top: 100%;
		        width:100%;
      		}
      		
		90% {
		
		}
      		
		to {
			
			margin-top: 0%;
			width:100%;

			
      		}
    	}

#cog {
    background: url('http://www.khasachi.com/photos-page/photos/05.25.13.jpg'); 
    background-size: cover;
  
}


#cog3 {
    background: url('http://www.khasachi.com/photos-page/photos/07.25.13.JPG'); 
    background-size: cover;
    
}

.odd-cog, .odd-cog-one {    
    border-radius: 3px;
    width: 550px;
    height: 414px;
    border: 50px solid #F4FFFF;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(5deg);
    transform-origin: top left;
    transition: 1s easeOutQuint;
    overflow: hidden;   
    -webkit-box-shadow: -2px 3px 19px -6px rgba(0,0,0,1);
    -moz-box-shadow: -2px 3px 19px -6px rgba(0,0,0,1);
    box-shadow: -2px 3px 19px -6px rgba(0,0,0,1);
}

.odd-cog-one {
    margin-top: 100px;
}

#cog2 {
    background: url('http://www.khasachi.com/photos-page/photos/06.17.13.JPG'); 
    background-size: cover;
}



#cog4 {
    background: url('http://www.khasachi.com/photos-page/photos/08.24.13.JPG'); 
    background-size: cover;
}

.even-cog, .even-cog-one {
    background-size: cover;
    border-radius: 3px;
    width: 550px;
    height: 414px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(-5deg);
    transform-origin: top left;
    transition: 1s easeOutQuint;
    overflow: hidden;   
    border: 50px solid #F4FFFF;
    -webkit-box-shadow: -2px 3px 19px -6px rgba(0,0,0,1);
    -moz-box-shadow: -2px 3px 19px -6px rgba(0,0,0,1);
    box-shadow: -2px 3px 19px -6px rgba(0,0,0,1);
}

.even-cog-one {
    margin-bottom: 100px;
}

#cog5 {
    background: url('http://www.khasachi.com/photos-page/photos/09.24.13.JPG'); 
    background-size: cover;
    
}

.odd-cog:hover .dates-text, .odd-cog-one:hover .dates-text, .even-cog:hover .dates-text, .even-cog-one:hover .dates-text {
        -moz-animation-duration: 1s;    
        -webkit-animation-duration: 1s;
        -moz-animation-name: slidetext; 
        -webkit-animation-name: slidetext;
        text-align: center;
        display: block;
        margin-top: 100%;
        height: 100%;
        color: #BDEC8E;
        animation-fill-mode: forwards;
}


#cog6 {
    background: url('http://www.khasachi.com/photos-page/photos/10.19.13.JPG'); 
    background-size: cover;
}

#cog7 {
    background: url('photos/11.03.13.JPG'); 
    margin-top: 100px;
    background-size: cover;
}

#cog8 {
    background: url('http://www.khasachi.com/photos-page/photos/12.23.13.JPG'); 
    background-size: cover;
}

#cog9 {
    background: url('photos/01.24.14.JPG'); 
    background-size: cover;
    background-position: center;
}

#cog10 {
    background: url('photos/2.17.14.jpg'); 
    background-size: cover;
    background-position: center;
}

#cog11 {
    background: url('photos/03.12.14.JPG'); 
    background-size: cover;
    background-position: center;
}

#cog12 {
    background: url('photos/04.19.14.JPG'); 
    background-size: cover;
    background-position: center;
}

#cog13 {
    background: url('photos/05.9.14.jpg'); 
    background-size: cover;
    
}

#cog14 {
    background: url('photos/05.25.14.JPG'); 
    background-size: cover;
    background-position: center;
}

#cog15 {
    background: url('photos/06.21.14.jpg'); 
    background-size: cover;
    background-position: center;
}

#cog16 {
    background: url('photos/07.21.14.jpg'); 
    background-size: cover;

}

#cog17 {
    background: url('photos/08.08.14.jpg'); 
    background-size: cover;
    background-position: center;
}

#cog18 {
    background: url('photos/09.12.14.jpg'); 
    background-size: cover;
}

#cog19 {
    background: url('photos/09.28.14.JPG'); 
    background-size: cover;
}

#cog20 {
    background: url('photos/10.20.14.JPG'); 
    background-size: cover;
    background-position: center;
}

#cog21 {
    background: url('photos/11.29.14.JPG'); 
    background-size: cover;
    background-position: center;
}

#cog22 {
    background: url('photos/11.7.14.JPG'); 
    background-size: cover;
}

#cog23 {
    background: url('photos/12.3.14.JPG'); 
    background-size: cover;
}

#cog24 {
    background: url('photos/12.14.14.JPG'); 
    background-size: cover;
    background-position: center;
}

#cog25 {
    background: url('photos/1.29.15.JPG'); 
    background-size: cover;
    background-position: center;
}

#cog26 {
    background: url('photos/1.30.15 2.JPG'); 
    background-size: cover;
    background-position: center;
}

#cog27 {
    background: url('photos/02.4.15.JPG'); 
    background-size: cover;
    background-position: bottom;
}

#cog28 {
    background: url('photos/03.11.15.JPG'); 
    background-size: cover;
    background-position: center;
}

#cog29 {
    background: url('photos/4.15.15.JPG'); 
    background-size: cover;
    background-position: center;
}

#cog30 {
    background: url('photos/05.4.15.JPG'); 
    background-size: cover;
    background-position: bottom;
}

#cog31 {
    background: url('photos/06.08.15.JPG'); 
    background-size: cover;
    background-position: bottom;
}

#cog32 {
    background: url('photos/06.12.15.JPG'); 
    background-size: cover;
    background-position: center;
}

.bottom-nav {
    padding-top: 10px;
}

.more-months {
    float: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 48px;
}

.more-months a {
    text-decoration: none;
}

.more-months a:visited {
    color: black;
}

.more-months h1 {
    margin: 0px;
    
}

.more-months a {
    color: black;
    transition: color 0.5s ease;
}

.more-months h1 a:hover {
    color: white;
}

.months {
    display: none;
}

.previous-arrow {
    float: left;
    transition: opacity 0.5s ease;
}

.arrow {
    float: right;
    transition: opacity 0.5s ease;
}

.previous-arrow:hover, .arrow:hover {
    opacity: 0.3;
}

.previous-arrow-small, .previous-arrow-smaller, .arrow-small, .arrow-smaller {
    display: none;
}


.go-top, .go-top-1{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    opacity: 0.25;
}

.go-top-1 a, .go-top a {
    text-decoration: none;
    color: black;
}

.go-top-1 a:visited, .go-top a:visited {
    color: black;
}

.go-top-1 a:hover, .go-top a:hover {
    text-decoration: underline;
}


.go-top-1 {
    margin-top: 70px;
}

@media screen and (max-width: 850px)
{
   
    .main-header {
        font-size: 35px;
        padding: 0px;
    
    }

    .second-header-one {
        float: right;
        width: 250px;
        display: block;
        font-size: 30px;

    }

    .go-top {
        padding-top: 50px;    
    }
    
}

@media screen and (max-width: 750px)
{
    .main-header {
        font-size: 40px;
    }
    .second-header-one {
        float: left;
        width: 100%;
        text-align: center;
        display: block;
        font-size: 30px;
        padding-top: 10px;
    }

    .main-header {
        width: 100%;
        text-align: center;
    }

    .odd-cog, .odd-cog-one, .even-cog, .even-cog-one{
        width: 450px;
        height: 338px;
        border: 30px solid #F4FFFF;
    }


	.odd-cog:hover .dates-text, .odd-cog-one:hover .dates-text, .even-cog:hover .dates-text, .even-cog-one:hover .dates-text {
        display: none;
	}

   

    .more-months {
        font-size: 30px;
    }

    .previous-arrow, .arrow {
        display: none;
    }

    .previous-arrow-small {
        display: block;
        float: left;
        transition: opacity 0.5s ease;
    }

    .arrow-small {
        display: block;
        float: right;
        transition: opacity 0.5s ease;
    }

    .previous-arrow-small:hover, .arrow-small:hover {
            opacity: 0.3;
        }


.go-top {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 50px;
}


}

@media screen and (max-width: 650px)
{
        .main-header {
            padding: 0px;
            margin: 50px 0px 0px;
        }

        .second-header-one {
            padding-top: 10px;
            padding-bottom: 30px;
            margin-top: 0px;
        }
        
         .odd-cog, .odd-cog-one, .even-cog, .even-cog-one {
            width: 350px;
            height: 263px;
            border: 20px solid #F4FFFF;
            margin-top: 50px;
    }
}

@media screen and (max-width: 550px)
{
        .main-header {
            padding: 0px;
            margin: 50px 0px 0px;
        }

        .second-header-one {
            padding-top: 10px;
            padding-bottom: 30px;
            margin-top: 0px;
        }

         .odd-cog, .odd-cog-one, .even-cog, .even-cog-one {
            width: 300px;
            height: 226px;
            border: 20px solid #F4FFFF;
            margin-top: 50px;
        }

        .more-months {
            font-size: 20px;
        }

        .previous-arrow-small, .arrow-small {
            display: none;
        }
        
        .previous-arrow-smaller {
            display: block;
            float: left;
            transition: opacity 0.5s ease;
        }

        .arrow-smaller {
            display: block;
            float: right;
            transition: opacity 0.5s ease;
        }   

        .previous-arrow-smaller:hover, .arrow-smaller:hover {
            opacity: 0.3;
        }
}

@media screen and (max-width: 450px)
{
   

    .main-header {
        font-size: 30px;
        padding-bottom: 10px;
        }       
        
        .second-header-one {
            padding-top: 5px;
            padding-bottom: 5px;
            margin: 0px;
            font-size: 20px;
        }
        
        .odd-cog, .odd-cog-one, .even-cog, .even-cog-one {
            width: 200px;
            height: 150px;
            border: 15px solid #F4FFFF;
            margin-top: 30px;
        }



        .month-text {
            font-size: 40px;
        }

        .more-months {
            font-size: 15px;
        }

        .previous-arrow-small, .arrow-small {
            display: none;
        }

        .previous-arrow-smaller {
            display: block;
            float: left;
            transition: opacity 0.5s ease;
        }  

        .arrow-smaller {
            display: block;
            float: right;
            transition: opacity 0.5s ease;
        }   

        .previous-arrow-smaller:hover, .arrow-smaller:hover {
            opacity: 0.3;
        }


}
