
body {
    background: #BDEC8E;
    color: black;
    margin: 0px;   
    padding: 0px;
    box-sizing: border-box;
}

.container {
    margin: 50px 100px;   
    padding: 0px;
}

.menu-items a {
    text-decoration: none;
    color: black;
    transition: background-color 0.5s ease, padding 0.5s ease;
}


.menu-items a:visited {
    color: black;
}

.menu-items a:hover {
    border-radius: 5px;
    background-color: rgba(0,0,0,0.3);
    padding: 3px;
}

.menu-full {
    position:absolute;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    right: 80px;
    width: 270px;
}


.menu-svg {
    padding-top: 20px;
    padding-left: 5px;    
    float: right;
}

.menu-list {
   background-color: rgba(255,255,255,0.3);
   float:left;
   padding: 10px;
   border-radius: 5px;
   display: none;
}

.menu-items {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.menu-items li {
    display: inline-block;
    padding-right: 5px;
}


li:nth-child(2), li:nth-child(3),li:nth-child(4) {
    padding-top: 5px;
}




.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

header {
    margin: 0px;   
    padding: 0px;
    
    -moz-animation-duration: 3s;    
    -webkit-animation-duration: 3s;
    -moz-animation-name: slideheader; 
    -webkit-animation-name: slideheader;
    overflow: hidden;
    
    
    
    
}

@-webkit-keyframes slideheader {
    0% {
        filter: alpha(Opacity=0);
        opacity: 0;
        -moz-transform: translate(0, 50px);
        -ms-transform: translate(0, 50px);
        -webkit-transform: translate(0, 50px);
        transform: translate(0, 50px)
    }
    100% {
        filter: alpha(enabled=false);
        opacity: 1;
        -moz-transform: none;
        -ms-transform: none;
        -webkit-transform: none;
        transform: none
    }
}
@keyframes slideheader {
    0% {
        filter: alpha(Opacity=0);
        opacity: 0;
        -moz-transform: translate(0, 50px);
        -ms-transform: translate(0, 50px);
        -webkit-transform: translate(0, 50px);
        transform: translate(0, 50px)
    }
    100% {
        filter: alpha(enabled=false);
        opacity: 1;
        -moz-transform: none;
        -ms-transform: none;
        -webkit-transform: none;
        transform: none
    }
}
.main-header {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
    font-size: 48px;
    float: left;
}

.main-header h1 {
    margin: 50px 0px 0px 0px;
    letter-spacing: 2px;
}

.main-header p {
    display: block;
    
}

/* add clearfix to header div because of floating elements*/ 
.second-header-one {
	transition: all 1s;
	overflow: hidden;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
    text-align: right;
    font-size: 38px;
    padding: 80px 0px;
    float: right;
    letter-spacing: 2px;
}

.main-header, .second-header-one {
    margin-top: 30px;
}

.first-show-text {
	display: block;
}

.second-show-text {
	display: none;
}



.dates-text {
	background-color:rgba(244,255,255,0.2);
	padding: 20% 0%;
	display: none;
	color: #BDEC8E;
	z-index: 1;
    letter-spacing: 2px
    font-weight: 600;
}





.month-text {
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 80px;    
}

.day-year-text {
        margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;    
}


@-webkit-keyframes slidein {
		from {

			margin-top: 100%;
		        width:100%;
      		}
      		
		90% {
		
		}
      		
		to {
			
			margin-top: 0%;
			width:100%;

			
      		}
    	}

@-webkit-keyframes slidetext {
		from {

			margin-top: 100%;
		        width:100%;
      		}
      		
		90% {
		
		}
      		
		to {
			
			margin-top: 0%;
			width:100%;

			
      		}
    	}

#cog {
    background: url('http://www.khasachi.com/photos-page/photos/05.25.13.jpg'); 
    background-size: cover;
  
}


#cog3 {
    background: url('http://www.khasachi.com/photos-page/photos/07.25.13.JPG'); 
    background-size: cover;
    
}

.odd-cog, .odd-cog-one {    
    border-radius: 3px;
    width: 550px;
    height: 414px;
    border: 50px solid #F4FFFF;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(5deg);
    transform-origin: top left;
    transition: 1s easeOutQuint;
    overflow: hidden;   
    -webkit-box-shadow: -2px 3px 19px -6px rgba(0,0,0,1);
    -moz-box-shadow: -2px 3px 19px -6px rgba(0,0,0,1);
    box-shadow: -2px 3px 19px -6px rgba(0,0,0,1);
}

.odd-cog-one {
    margin-top: 100px;
}

#cog2 {
    background: url('http://www.khasachi.com/photos-page/photos/06.17.13.JPG'); 
    background-size: cover;
}



#cog4 {
    background: url('http://www.khasachi.com/photos-page/photos/08.24.13.JPG'); 
    background-size: cover;
}

.even-cog, .even-cog-one {
    background-size: cover;
    border-radius: 3px;
    width: 550px;
    height: 414px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(-5deg);
    transform-origin: top left;
    transition: 1s easeOutQuint;
    overflow: hidden;   
    border: 50px solid #F4FFFF;
    -webkit-box-shadow: -2px 3px 19px -6px rgba(0,0,0,1);
    -moz-box-shadow: -2px 3px 19px -6px rgba(0,0,0,1);
    box-shadow: -2px 3px 19px -6px rgba(0,0,0,1);
}

.even-cog-one {
    margin-bottom: 100px;
}

#cog5 {
    background: url('http://www.khasachi.com/photos-page/photos/09.24.13.JPG'); 
    background-size: cover;
    
}

.odd-cog:hover .dates-text, .odd-cog-one:hover .dates-text, .even-cog:hover .dates-text, .even-cog-one:hover .dates-text  {
        -moz-animation-duration: 1s;    
        -webkit-animation-duration: 1s;
        -moz-animation-name: slidetext; 
        -webkit-animation-name: slidetext;
        text-align: center;
        display: block;
        margin-top: 100%;
        height: 100%;
        color: #BDEC8E;
        animation-fill-mode: forwards;
}


#cog6 {
    background: url('http://www.khasachi.com/photos-page/photos/10.19.13.JPG'); 
    background-size: cover;
}

#cog7 {
    background: url('photos/11.03.13.JPG'); 
    margin-top: 100px;
    background-size: cover;
}

#cog8 {
    background: url('http://www.khasachi.com/photos-page/photos/12.23.13.JPG'); 
    background-size: cover;
}


.bottom-nav {
    padding-top: 10px;
}

.more-months {
    float: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 48px;
}

.more-months a {
    text-decoration: none;
}

.more-months a:visited {
    color: black;
}

.more-months h1 {
    margin: 0px;
    
}

.more-months a {
    color: black;
    transition: color 0.5s ease;
}

.more-months h1 a:hover{
    color: white;
}

.months {
    display: none;
}

.arrow {
    float: right;
    transition: opacity 0.5s ease;
}

.arrow:hover {
    opacity: 0.3;
}

.arrow-small, .arrow-smaller {
    display: none;
}


@media screen and (max-width: 850px)
{
   
    .main-header {
        font-size: 35px;
        padding: 0px;
    
    }

    .second-header-one {
        float: right;
        width: 250px;
        display: block;
        font-size: 30px;

    }
}

@media screen and (max-width: 750px)
{
    .main-header {
        font-size: 40px;
    }
    .second-header-one {
        float: left;
        width: 100%;
        text-align: center;
        display: block;
        font-size: 30px;
        padding-top: 10px;
    }

    .main-header {
        width: 100%;
        text-align: center;
    }

    .odd-cog, .odd-cog-one, .even-cog, .even-cog-one{
        width: 450px;
        height: 338px;
        border: 30px solid #F4FFFF;
    }

    .menu-full {
        right: 45%;
        
        font-family: 'Source Sans Pro', sans-serif;
        color: black;
        width: 100%;
    }

    .menu-list {
        float: right;
    }

    .more-months {
        font-size: 30px;
    }

    .arrow {
        display: none;
    }

    .arrow-small {
        display: block;
        float: right;
        transition: opacity 0.5s ease;
    }

    .arrow-small:hover {
        opacity: 0.3;
    }


}

@media screen and (max-width: 650px)
{
        .main-header {
            padding: 0px;
            margin: 50px 0px 0px;
        }

        .second-header-one {
            padding-top: 10px;
            padding-bottom: 30px;
            margin-top: 0px;
        }
        
         .odd-cog, .odd-cog-one, .even-cog, .even-cog-one {
            width: 350px;
            height: 263px;
            border: 20px solid #F4FFFF;
            margin-top: 50px;
    }
}

@media screen and (max-width: 550px)
{
        .main-header {
            padding: 0px;
            margin: 50px 0px 0px;
        }

        .second-header-one {
            padding-top: 10px;
            padding-bottom: 30px;
            margin-top: 0px;
        }

         .odd-cog, .odd-cog-one, .even-cog, .even-cog-one {
            width: 300px;
            height: 226px;
            border: 20px solid #F4FFFF;
            margin-top: 50px;
        }

        .more-months {
            font-size: 20px;
        }

        .arrow-small {
            display: none;
        }
        .arrow-smaller {
            display: block;
            float: right;
            transition: opacity 0.5s ease;
        }   

        .arrow-smaller:hover {
            opacity: 0.3;
        }
}

@media screen and (max-width: 450px)
{
    .menu-full {
        position:absolute;
        font-family: 'Source Sans Pro', sans-serif;
        color: black;
        right: 50px;
        width: 270px;
    }   

    .main-header {
        font-size: 30px;
        padding-bottom: 10px;
        }       
        
        .second-header-one {
            padding-top: 5px;
            padding-bottom: 5px;
            margin: 0px;
            font-size: 20px;
        }
        
        .odd-cog, .odd-cog-one, .even-cog, .even-cog-one {
            width: 200px;
            height: 150px;
            border: 15px solid #F4FFFF;
            margin-top: 30px;
        }

        #cog4, #cog8{
            margin-bottom: 50px;
        }

        .month-text {
            font-size: 40px;
        }

        .more-months {
            font-size: 15px;
        }

        .arrow-small {
            display: none;
        }

        .arrow-smaller {
            display: block;
            float: right;
            transition: opacity 0.5s ease;
        }   

        .arrow-smaller:hover {
            opacity: 0.3;
        }


}