body {
    font-family: 'Lora', serif;
    font-size: 14px;
    color: #878787;
    padding-top: 0; 
    margin: 0px;
	padding: 0px;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}
.clearfix,
html[xmlns] .clearfix {
    display: block
}
* html .clearfix {
    height: 1%
}

* html .clearfix:after, .clearfix:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

*, :after, :before
{
-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
	box-sizing: border-box;
}


img {
    border: 0
}

.name-title {
	font-family: 'Roboto', sans-serif;
	font-weight: 50;
	color: #818991;
	text-align: center;
	padding-top: 150px;
}

.name-title h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.my-name {
	display: none;
	
}

.my-photos{
	display: none;
	
}


.photo-title {	
	color: #9EDEFF;
	position: relative;
	text-align: center;
}

.photo-title h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	
}


.menu-svg {
	stroke:#9EDEFF;
	stroke-width:3;
	opacity: 0.7;
	border-radius: 8px;
	
	text-align: center;
		padding-left: 5px;
		padding-top: 5px;
	
}

.menu-title {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	color: #8DDBD1;
	margin-left: 90%;
	position: absolute;
	text-align: center;
	transition: all 5s;
}

.menu-title svg 
{
	padding-top: 10px;
}


.menu-svg {
	transition: all 5s;
}

.my-svg {
	position: relative;
	margin-top: -200px;
	text-align: center;
	z-index: -1;
	fill: #E1EEFC;
	opacity: 0.3;
	transition: all 5s;

}

.menu-title {
	padding: 20px;
}

.nav-menu {
	display: none;
}

.nav-menu ul {
	list-style-type: none;
	padding: 0px;

}

.nav-menu li a {
	color: #9EDEFF;
	text-decoration: none;
	font-weight: 400;
}

.nav-menu li 
{
	padding-bottom: 5px;
}

.sec-row {
	padding: 20px;
	border-bottom: 1px solid black;
}

.wrapping {
	
	margin-top: 50px;
	margin-left: 50px;
}


.second-row {
	text-align: center;
}

.arrow-svg {
	stroke:#9EDEFF;
	stroke-width:3;
	opacity: 0.7;
	border-radius: 8px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 20px;
	
}

/*img {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transition-duration: 3s, 5s;
}

img:hover {
	transform: rotate(30deg);
		transition-duration: 3s, 5s;

} */

.photo {
	-ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
    width: 500px;
}

.photo img {
	width: 500px;
}

.come-in {
	-ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    transition: all 1s ease;

/*.come-in {
  transform: translateY(150px);

  animation: come-in 0.8s ease forwards;
  
}

.come-in:nth-child(odd) {
  animation-duration: 0.6s;
}


.already-visible {
  transform: translateY(0);
  animation: none;
}

@keyframes come-in {
  to {
    transform: translateY(0);
  }
}

var $cog = $('#cog'),
    $body = $(document.body),
    bodyHeight = $body.height();

$(window).scroll(function () {
    $cog.css({
        'transform': 'rotate(' + (7 + -$body.scrollTop() / 83) + 'deg)'
    });
    
    $cog.text( "scrollTop:" + $body.scrollTop() );
    
});




*/

.container {
	margin: 80px;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}
.clearfix,
html[xmlns] .clearfix {
    display: block
}
* html .clearfix {
    height: 1%
}

