---
layout: default
---
<div class="post-main">
<div class="full-row">
      <div class="post-date">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</div>
      <div class="post-title"><p>{{ page.title }}</p></div>
      
  </div>




  <article class="post-text">
    {{ content }}
    </article>


<div class="full-row">





   <div class="next-post">
        {% if page.next.url %} 
      
            <a href="{{page.next.url}}" title="next Post: 
{{page.next.title}}">Next Post: {{page.next.title}}</a> 
       
        {% endif %} 
 </div> 
   <div class="previous-post">
        {% if page.previous.url %} 
       


            <a href="{{page.previous.url}}" title="Previous Post: 
{{page.previous.title}}">Previous Post: {{page.previous.title}}</a> 
     
        {% endif %} 
   </div> 
</div>
